@use '../../styles';

:host {
  display: flex;
  width: 100%;
  background-color: var(--primary-yellow);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  justify-content: center;
  height: 120px;
  @media (width < 600px) {
    padding: 0 0 2.5rem 0;
  }

  .drawer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    button {
      @include styles.btn;
      width: max-content;

      @media (width < 600px) {
        border-radius: unset;
      }
    }
  }
}