<div>
  <img src="logo.png" alt="logo" 
  [routerLink]="'home'"
  (click)="clearMenu()">
  <section>
    @if (!isManager()) {
      @for (item of options; track $index) {
        <button [routerLink]="'customer'" [ngClass]="item.value === menuService.menuSection ? 'active' : ''" (click)="setMenuSection(item.value)">{{item.label}}</button>
      }
    } @else {
      <button (click)="addBot()">+Bot</button>
      <button (click)="removeBot()">-Bot</button>
      <button [routerLink]="'manager'" [routerLinkActive]="'active'">Overview</button>
    }
  </section>
</div>
<section>
  <button (click)="navigateToOrder()" [routerLinkActive]="'active'" [routerLink]="'orders'">Orders</button>
</section>