<div>
  <img src="logo.png" alt="logo" 
  [routerLink]="'home'"
  (click)="clearMenu()">
  <section>
    @for (item of options; track $index) {
      <button [routerLink]="'customer'" [ngClass]="item.value === menuService.menuSection ? 'active' : ''" (click)="setMenuSection(item.value)">{{item.label}}</button>
    }
  </section>
  <!-- bot control buttons for managers -->
</div>
<section>
  <button (click)="navigateToOrder()" [routerLinkActive]="'active'" [routerLink]="'orders'">Orders</button>
</section>