<section>
  <header>
      Pending Orders
  </header>
  <div>
    @for (q of pendingQueues(); track q.id) {
      <app-order-card [queue]="q"></app-order-card>
    }
  </div>
</section>

<section>
  <header>
      Ongoing Orders
  </header>
  <div>
    @for (q of ongoingQueues(); track q.id) {
      <app-order-card [queue]="q"></app-order-card>
    }
  </div>
</section>
  
<section>
  <header>
      Completed Orders
  </header>
  <div>
      @for (q of processedQueues(); track q.id) {
        <app-order-card [queue]="q"></app-order-card>
      }
  </div>
</section>